title {
    color: rgb(255, 255, 255);
    animation:example 3s linear;
    font-size: 20px;
    font-family: monospace;
    font-weight: lighter;
}

body {
    background-color: black;
}

h1 {
    color: white;
    font-size: 24px;
    font-family: monospace;
    font-weight: bold;
    transform: translateX(0%)
}

table {
    border-collapse: collapse;
    width: 100%;
    color: white;
    font-size: 10px;
    font-family: monospace;
    font-weight: lighter;
    transform: translateX(20px)
}

button {
    padding: 15px px;
    background-color: #222;
    color: #ffffff;
    border: 2px solid #fff; 
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #fff;
    color: #222;
    transform: scale(1.1);
}

button:active {
    transform: scale(0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}